<!-- Footer -->
<section id="footer">
	<footer>
		<ul class="icons">
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.ee_url %}
				<li><a href="{{ site.ee_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
		</ul>
		<!-- <ul class="copyright">
			<li>&copy; {{ site.title }}</li>
		</ul> -->
	</footer>
</section>

<!-- Scripts -->
<script src="{{ '/assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/jquery.scrollex.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/jquery.scrolly.min.js' |absolute_url }}"></script>
<script src="{{ '/assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/util.js' | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ '/assets/js/ie/respond.min.js' | absolute_url }}"></script><![endif]-->
<script src="{{ '/assets/js/main.js' | absolute_url }}"></script>

<script>
	for (let control of document.querySelectorAll("#vid-control")) {
		control.onclick = () => {
			const vid = control.firstChild;
			vid.muted = !vid.muted;
			vid.volume = 0.2;
		}
	}
</script>
