<!-- Footer -->
<section id="footer">
	<footer>
		<ul class="icons">
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.ee_url %}
				<li><a href="{{ site.ee_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
		</ul>
		<!-- <ul class="copyright">
			<li>&copy; {{ site.title }}</li>
		</ul> -->
	</footer>
</section>

<!-- Scripts -->
<script src="{{ '/assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/jquery.scrollex.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/jquery.scrolly.min.js' |absolute_url }}"></script>
<script src="{{ '/assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/util.js' | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ '/assets/js/ie/respond.min.js' | absolute_url }}"></script><![endif]-->
<script src="{{ '/assets/js/main.js' | absolute_url }}"></script>

<script>
if ("IntersectionObserver" in window) {
	let autoMutedObserver = new IntersectionObserver(entries => {
		entries.forEach(entry => {
			// Mute when video becomes invisible.
			const vid = entry.target;
			if (!entry.isIntersecting && !vid.muted) {
				vid.muted = true;
			}
		});
	});

	let allVideos = [].slice.call(document.querySelectorAll("video"));
	allVideos.forEach(video => {
		autoMutedObserver.observe(video);
		video.onclick = () => {
			video.muted = !video.muted;
			video.volume = 0.2;
		}
	});

	let chapters = [].slice.call(document.querySelectorAll(".main.special"));
	// Loading lazy images.
	chapters.forEach(chapter => {
		let imageLoadObserver = new IntersectionObserver(entries => {
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					const chapterId = entry.target.id;
					const imgs = [].slice.call(document.querySelectorAll(`img.${chapterId}`));
					const videos = [].slice.call(document.querySelectorAll(`video.${chapterId}`));
					// Force to load all images/videos in this chapter.
					for (let img of imgs) {
						img.loading = "eager";
					}
					for (let video of videos) {
						for (let source in video.children) {
							let videoSource = video.children[source];
							if (typeof videoSource.tagName === "string" && videoSource.tagName === "SOURCE") {
								videoSource.src = videoSource.dataset.src;
								console.log(`lazy load src ${videoSource.src}`);
								break;
							}
						}
						video.load();
					}
					imageLoadObserver.unobserve(entry.target);
					return;
				}
			});
		});
		imageLoadObserver.observe(chapter);
	});
}

</script>
