<!-- Footer -->
<section id="footer">
	<footer>
		<ul class="icons">
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.ee_url %}
				<li><a href="{{ site.ee_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
		</ul>
		<!-- <ul class="copyright">
			<li>&copy; {{ site.title }}</li>
		</ul> -->
	</footer>
</section>

<!-- Scripts -->
<script src="{{ '/assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/jquery.scrollex.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/jquery.scrolly.min.js' |absolute_url }}"></script>
<script src="{{ '/assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/util.js' | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ '/assets/js/ie/respond.min.js' | absolute_url }}"></script><![endif]-->
<script src="{{ '/assets/js/main.js' | absolute_url }}"></script>

<script>

var lazyVideos = [].slice.call(document.querySelectorAll("video.lazy"));
if ("IntersectionObserver" in window) {
	var lazyVideoObserver = new IntersectionObserver(function(entries, observer) {
		entries.forEach(function(video) {
			if (video.isIntersecting) {
				for (var source in video.target.children) {
				var videoSource = video.target.children[source];
					if (typeof videoSource.tagName === "string" && videoSource.tagName === "SOURCE") {
						videoSource.src = videoSource.dataset.src;
						console.log(`lazy load src ${videoSource.src}`);
						break;
					}
				}
				video.target.load();
				video.target.classList.remove("lazy");
				lazyVideoObserver.unobserve(video.target);
			}
		});
	});

	var autoMutedObserver = new IntersectionObserver(entries => {
		entries.forEach(entry => {
			// Mute when video becomes invisible.
			const vid = entry.target;
			if (!entry.isIntersecting && !vid.muted) {
				vid.muted = true;
			}
		});
	});

	lazyVideos.forEach(lazyVideo => {
		lazyVideoObserver.observe(lazyVideo);
		autoMutedObserver.observe(lazyVideo);
		lazyVideo.onclick = () => {
			lazyVideo.muted = !lazyVideo.muted;
			lazyVideo.volume = 0.2;
		}
	});

}

</script>
