<!-- Introduce where the stroy started-->
<section id="meet" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic01.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Where The Story Started</h2>
      </header>
      <div>
        <div class="speech-bubble-aa">
          <p>嗨嗨 遲來的招呼</p>
        </div>
        <div class="speech-bubble-ee">
          <p>等了很久？哈哈哈 波蘭時差這麼嚴重</p>
        </div>
      </div>
			<p>TBD</p>
		</div>
	</div>
</section>
