<!-- Introduce where the stroy started-->
<section id="p1_9833" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic01.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Chapter 1 - 9833 KM</h2>
      </header>
      <div>
        <div class="speech-bubble-aa">
          <p>嗨嗨 遲來的招呼</p>
        </div>
        <div class="speech-bubble-ee">
          <p>等了很久？哈哈哈 波蘭時差這麼嚴重</p>
        </div>
      </div>
      <div class="main-article">
        <p>
          這段對話於配對成功一年後才正式開啟，你想的沒錯，是那個鄉民整天哭夭說只有詐騙的 Tinder。以下皆為真人真事，真的不是業配！<br>
          在這段牛頭不對馬嘴的對話後，接著不免俗地開始交換喜歡的專輯。音樂品味一向是擇偶中重要的條件之一，你想想，在一個陽光明媚的下午，你與你的愛人雙雙躺在草地上品味這段難得的閒暇，有風有雲有陽光有景，只缺一段美好的旋律，你能忍受這時愛人放的音樂卻是玖壹壹嗎？哎呀⋯⋯想到就全身打了個冷顫，如此的酷刑還是先不要吧。<br>
          跨時差的歌曲接力進行得相當順利，從 Spangle call Lilli line、mitsume、Yuga、Sunny Day Service、Kinokoteikoku 到 South Penguin，滿滿的日搖啊⋯⋯那麼，接下來繼續聊跟日本相關的話題也不意外吧？於是從漫畫、電影、綜藝、旅行、美食與生活相關的種種也不斷地另闢新局，而且發現彼此共通點意外的多，例如：都喜歡超級狐狸先生、喜歡迷宮飯、喜歡的團也很多重疊，於是笑稱終於找到分靈體了！啊哇呾喀呾啦！<br>
          聊天頻率隨著雙方好感度上升而不斷地提高，從一開始的打電話需要提前預約，到隨心所欲想聊就聊的尊榮體驗。但為了當上 VIP 顧客，該下的功夫自然也不能少。他從對話中知道她喜歡花，想要找到喜歡的花來刺在頸後，開啟了瘋狂搜尋各種花卉圖鑑的旅程，必且每天跑出門亂繞就只為了找到沒看過的花，「即使不能親自送花，拍美麗的花應該也是一種心意與行動力的表現吧？！」
          你問後來結果如何？兩個分靈體最終總是要合而為一的，這還用說嗎？於是他與她——熊先生與松鼠小姐——的故事正式開始了。
        </p>
      </div>
		</div>
	</div>
</section>
