<div class="gallery">
    <div class="gallery_scroller">
        <div><img height="490" src="assets/images/p2/p2_cat.jpg"></div>
        <div><img height="420" src="assets/images/p2/p2_movie_0.jpg"></div>
        <div><img height="470" src="assets/images/p2/p2_movie_1.jpg"></div>
        <div><img height="490" src="assets/images/p2/p2_flower_1.jpg"></div>
        <div><img height="480" src="assets/images/p2/p2_flower_2.jpg"></div>
        <div><img height="490" src="assets/images/p2/p2_go.jpg"></div>
    </div>
</div>
