<div class="gallery">
    <div class="gallery_scroller">
        <div><img loading=lazy height="490" src="assets/images/p2/p2_cat.webp"></div>
        <div><img loading=lazy height="420" src="assets/images/p2/p2_movie_0.webp"></div>
        <div><img loading=lazy height="470" src="assets/images/p2/p2_movie_1.webp"></div>
        <div><img loading=lazy height="490" src="assets/images/p2/p2_whereby.webp"></div>
        <div><img loading=lazy height="480" src="assets/images/p2/p2_flower_1.webp"></div>
        <div><img loading=lazy height="480" src="assets/images/p2/p2_flower_2.webp"></div>
        <div><img loading=lazy height="490" src="assets/images/p2/p2_go.webp"></div>
    </div>
</div>
