<!-- Before first meet in Taiwan-->
<section id="p2_online_lover" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic01.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Chapter 2<br>世界首家雲端情人上線啦！</h2>
      		</header>
			<div class="main-article">
				<p>
					從交往到實際見面這段日子，彷彿是雲端情人的翻版，二十四小時不間斷的視訊接力。松鼠小姐曾說過「以前根本不想跟男友視訊，一下就會覺得很無聊了」，但這次似乎不一樣了？<br>
					<br>
					兩人很享受一直掛在 Whereby 房間裡，就像在同一個地方生活，起床時可以看到對方，睡覺時也可以道聲晚安（雖然松鼠小姐得偷偷跑到樓梯間視訊就是了），出門時也可以帶著手機帶著松鼠小姐一起探索波村的點滴。<br>
					<br>
					這段日子可說是雲端情人的 Beta 測試，測試畢竟不會持續太久，很快地就要進入正式營運的時候啦！在故事開始後，熊先生火速地買了機票，訂了一個月後的班機與防疫住所，買了護目鏡、各種防疫物品，如臨大敵般的為回台灣正式見面的日子做準備，究竟熊先生能否順利過關呢？
				</p>
			</div>
			<br>
			{% include p2_gallery.html %}
		</div>
	</div>
</section>
