<div class="gallery">
    <div class="gallery_scroller">
        <div><img height="490" src="assets/images/p3/p3_movie.webp"></div>
        <div><img height="470" src="assets/images/p3/p3_song.webp"></div>
        <div id="vid-control"><video muted autoplay loop height="430" src="assets/images/p3/p3_game.mp4"></div>
        <div><img height="470" src="assets/images/p3/p3_hike_1.webp"></div>
        <div><img height="460" src="assets/images/p3/p3_hike_2.webp"></div>
        <div><img height="490" src="assets/images/p3/p3_sleep.webp"></div>
        <div><img height="450" src="assets/images/p3/p3_xpark.webp"></div>
        <div><img height="480" src="assets/images/p3/p3_xpark_2.webp"></div>
        <div><img height="480" src="assets/images/p3/p3_xpark_3.webp"></div>
        <div><img height="490" src="assets/images/p3/p3_bbq.webp"></div>
        <div><img height="470" src="assets/images/p3/p3_hotel.webp"></div>
        <div><img height="490" src="assets/images/p3/p3_boat.webp"></div>
        <div><img height="480" src="assets/images/p3/p3_vintage.webp"></div>
        <div><img height="450" src="assets/images/p3/p3_dog_machine.webp"></div>
        <div><img height="490" src="assets/images/p3/p3_before_leave.webp"></div>
    </div>
</div>
