<div class="gallery">
    <div class="gallery_scroller">
        <div><img height="490" src="assets/images/p3/p3_movie.jpg"></div>
        <div><img height="470" src="assets/images/p3/p3_song.jpg"></div>
        <div id="vid-control"><video muted autoplay loop height="440" src="assets/images/p3/p3_game.mp4"></div>
        <div><img height="470" src="assets/images/p3/p3_hike_1.jpg"></div>
        <div><img height="460" src="assets/images/p3/p3_hike_2.jpg"></div>
        <div><img height="490" src="assets/images/p3/p3_sleep.jpg"></div>
        <div><img height="450" src="assets/images/p3/p3_xpark.jpg"></div>
        <div><img height="480" src="assets/images/p3/p3_xpark_2.jpg"></div>
        <div><img height="480" src="assets/images/p3/p3_xpark_3.jpg"></div>
        <div><img height="490" src="assets/images/p3/p3_bbq.jpg"></div>
        <div><img height="470" src="assets/images/p3/p3_hotel.jpg"></div>
        <div><img height="490" src="assets/images/p3/p3_boat.jpg"></div>
        <div><img height="480" src="assets/images/p3/p3_vintage.jpg"></div>
        <div><img height="450" src="assets/images/p3/p3_dog_machine.jpg"></div>
        <div><img height="490" src="assets/images/p3/p3_before_leave.jpg"></div>
    </div>
</div>
