<!-- Meet in Taiwan-->
<section id="p3_meet_in_taiwan" class="main special">
	<div class="container">
		<span class="image fit primary"><img loading="lazy" src="assets/images/BANNER_C3-min.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Chapter 3<br>波村過台灣：熊先生進京赴試</h2>
      		</header>
			<div class="main-article">
				<p>
					西元二零二零年九月一號，中午十二點三十五分，松鼠小姐拖著粉紅色的小行李箱緩緩的走進公司旁的機車道，行李箱喀拉喀拉的拖過地上佈滿水塘的磁磚，女子戴著口罩似乎想要掩飾些什麼，據目擊者聲稱，女子在後巷與一位男子碰頭，是否為不法交易我們就不得而知了，因為兩人吃完牛肉麵就草草解散了。熊先生阿熊先生，究竟有沒有辦法通過這第一關呢？<br>
					<br>
					想必後來的確是通過考驗了，因為他們兩人後來隔天一起出現在美麗華，唱著小曲哼著歌，（因為版權問題這裡我們就不回顧當時的美聲了），扭著扭蛋看個天能，真的愜意。因為松鼠小姐還需要上班，所以兩人的平日相處時間都是下班後。時間快轉到九月四號晚上，兩人偕同星聲社一夥在陳柏諺家玩的不亦樂乎，也是成功地驚喜呈現了好棒棒的生日蛋糕！<br>
					<br>
					九月五日，松鼠小姐的誕生日，當然要大肆慶祝，於是兩人去吃了飽受盛名的板前江戶前壽司大餐，受不了黑鮪魚的誘惑還當場升級的松鼠小姐，後來才發現魚肉是來自「緯來靠黑鮪魚賺大錢」的魚市場認證，心願已了當場成佛！後來還看了薇薇安的攝影展，口慾與知性一次解決。<br>
					<br>
					接下來的台灣行，兩人爬了擎天崗尋找山神（松鼠小姐氣喘如牛）、 去了水族館（Xpark 徒有虛名)、乾杯燒肉吃到爽（照片還沒寄來）、交大同學聚會（義式餐廳有夠遜），接著就快轉到台南之旅了，第一趟台灣行最後的地點。由阿裕牛肉開場（好吃但排很久）、友愛街旅館好舒適（一直去大廳挑黑膠）、小餐茶事（張曼玉與梁朝偉？）與各種小吃景點，但古著買著買著，咖啡喝著喝著，快樂的時光總是過得特別快，該暫時離別的時刻終究還是來了。<br>
					<br>
					松鼠小姐，別哭別哭，故事還沒結束。
					<br>
				</p>
				<br>
				{% include p3_gallery.html %}
			</div>
		</div>
	</div>
</section>
