<div class="gallery">
    <div class="gallery_scroller">
        <div><img src="assets/images/p4/p4_my_desk.jpg"></div>
        <div><img src="assets/images/p4/p4_supply.jpg"></div>
        <div><img src="assets/images/p4/p4_bug.png"></div>
        <div><img src="assets/images/p4/p4_ee_mountain_1.jpg"></div>
        <div><img src="assets/images/p4/p4_ee_mountain_2.jpg"></div>
        <div><img src="assets/images/p4/p4_ee_mountain_3.jpg"></div>
        <div><img src="assets/images/p4/p4_sakura.jpg"></div>
        <div><img src="assets/images/p4/p4_multi_faces.jpg"></div>
        <div><img src="assets/images/p4/p4_sleep.jpg"></div>
    </div>
</div>
