<!-- After taiwan, but before US -->
<section id="p4_not_empty" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic01.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Chapter 4<br>不空白的空白年</h2>
      		</header>
			<div class="main-article">
				<p>
					又回到了雲端模式，不過 Beta 期間的測試早已建立起兩人間的默契，距離不過是小事一樁，無懼於距離，松鼠與熊的心可是緊緊地綁在一起。只是他們沒想到，疫情下的世界變得越來越混亂，下次的真人模式卻要等到一年多以後了…<br>
					<br>
					回程時大概是連老天感到難過，天氣差到沒有回波村的航班，嘗試了第一次的美國火車之旅，但還是日本的列車舒適多了（以後要一起去日本列車之旅！）兩人又開始了平行時空的台北與波村生活，松鼠小姐去當了蟲柱、送了熊先生好棒棒的按摩器、玩了印度阿三與神槍手的 For The King、熊先生又進入了第二次的封城，就在這些生活感十足的事件中，二零二零也迎來了尾聲，兩人在心中默默許下「明年一定要一起跨年！」的願望。<br>
					<br>
					二零二一的開始稍稍迎來了一點變化，波村封城在二月終於結束了，這也是最後一次的封城（謝天謝地）同時松鼠小姐正在台灣大過新年，還包了紅包、做了燈籠直送波村（雖然還有九個燈籠還沒組）熊先生是個很好預測的人，能夠攀岩後，唯一會做的事情也就只有攀岩了。於是各種訓練與訓練還有訓練，毫無意外的填滿了視訊外的大多數空閒時刻，松鼠小姐也貼心地送了岩鞋與粉袋當作三一大壽的禮物，兩人還開始學習了一陣子日文（雖然熊先生很快就放棄了）先暫停一下，讓我們把畫面轉回松鼠小姐，這段時間松鼠小姐收到了來自熊先生的祝福—登山用品組合—開始了另一段尋找山神的幸福（血汗？）旅程。大屯山、合歡群峰、四獸山、水漾森林，爬一個身體健康，爬一個香汗淋漓，想必這段時間就是松鼠小姐三十年來運動最多的時候了吧。此外，跟著熱寫生四處巡迴、離開紡織業踏入翻譯圈、高級高級的 Herman Miller，還有生日蛋糕的不歡，松鼠小姐的生活著實比熊先生來的有趣許多。<br>
					<br>
					不知不覺離上次見面已經過了超過一年，努力等候是為了之後相聚能夠更加珍惜，松鼠小姐握緊了手上飛往紐約的機票，大喊著「老娘要去美國尋親了，誰也擋不了我！出發！出發！出發！」<br>
				</p>
			</div>
		</div>
	</div>
</section>
