<div class="gallery">
    <div class="gallery_scroller">
        <div><img class="p5_us_trip" loading="lazy" height="490" src="assets/images/p5_4/p5_glass_1.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="460" src="assets/images/p5_4/p5_glass_2.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5_4/p5_glass_3.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="480" src="assets/images/p5_4/p5_space_needle_1.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5_4/p5_space_needle_2.jpg"></div>

        <!-- snow -->
        <div><img class="p5_us_trip" loading="lazy" height="490" src="assets/images/p5_4/p5_snow_1.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="480" src="assets/images/p5_4/p5_snow_2.jpg"></div>
        <div id="vid-control">
            <video class="lazy" preload="none" poster="assets/images/p5_4/p5_snow_vid_1.jpg" muted autoplay loop height="470">
                <source data-src="assets/images/p5_4/p5_snow_vid_1.mp4" type="video/mp4">
            </video>
        </div>
        <div><img class="p5_us_trip" loading="lazy" height="480" src="assets/images/p5_4/p5_snow_3.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="490" src="assets/images/p5_4/p5_snow_4.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5_4/p5_snow_5.jpg"></div>
        <div id="vid-control">
            <video class="lazy" preload="none" poster="assets/images/p5_4/p5_snow_vid_2.jpg" muted autoplay loop height="490">
                <source data-src="assets/images/p5_4/p5_snow_vid_2.mp4" type="video/mp4">
            </video>
        </div>
        <div id="vid-control">
            <video class="lazy" preload="none" poster="assets/images/p5_4/p5_yummy.jpg" muted autoplay loop height="480">
                <source data-src="assets/images/p5_4/p5_yummy.mp4" type="video/mp4">
            </video>
        </div>
        <div><img class="p5_us_trip" loading="lazy" height="460" src="assets/images/p5_4/p5_snow_6.jpg"></div>

        <!-- street and pike -->
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5_4/p5_rhcp.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="490" src="assets/images/p5_4/p5_pike_2.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5_4/p5_pike_1.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="490" src="assets/images/p5_4/p5_pike_3.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="490" src="assets/images/p5_4/p5_pike_0.jpg"></div>

        <!-- ferry -->
        <div><img class="p5_us_trip" loading="lazy" height="490" src="assets/images/p5_4/p5_ferry_1.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5_4/p5_ferry_2.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="490" src="assets/images/p5_4/p5_ferry_3.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="460" src="assets/images/p5_4/p5_ferry_4.jpg"></div>

        <!-- pop -->
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5_4/p5_pop_1.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="480" src="assets/images/p5_4/p5_pop_2.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="490" src="assets/images/p5_4/p5_pop_3.jpg"></div>
        <div id="vid-control">
            <video class="lazy" preload="none" poster="assets/images/p5_4/p5_zombie.jpg" muted autoplay loop height="490">
                <source data-src="assets/images/p5_4/p5_zombie.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>
