<div class="gallery">
    <div class="gallery_scroller">
        <div><img height="490" src="assets/images/p5_2/p5_camping.jpg"></div>
        <div><img height="460" src="assets/images/p5_2/p5_home.jpg"></div>
        <div><img height="470" src="assets/images/p5_2/p5_climbing.jpg"></div>
        <div id="vid-control"><video muted autoplay loop height="470" src="assets/images/p5_2/p5_workout.mp4"></div>
        <div><img height="490" src="assets/images/p5_2/p5_ootd_1.jpg"></div>
        <div><img height="480" src="assets/images/p5_2/p5_ootd_2.jpg"></div>
        <div><img height="470" src="assets/images/p5_2/p5_ootd_3.jpg"></div>
        <div><img height="460" src="assets/images/p5_2/p5_ootd_4.jpg"></div>
        <div><img height="470" src="assets/images/p5_2/p5_ootd_5.jpg"></div>
        <div><img height="480" src="assets/images/p5_2/p5_ootd_6.jpg"></div>
        <div id="vid-control"><video muted autoplay loop height="460" src="assets/images/p5_2/p5_sleeping_bag.mp4"></div>
        <div><img height="480" src="assets/images/p5_2/p5_sleeping_bag.jpg"></div>
    </div>
</div>
