<div class="gallery">
    <div class="gallery_scroller">
        <div><img height="490" src="assets/images/p5_3/p5_disney_1.jpg"></div>
        <div><img height="490" src="assets/images/p5_3/p5_disney_2.jpg"></div>
        <div><img height="490" src="assets/images/p5_3/p5_disney_3.jpg"></div>
        <div><img height="460" src="assets/images/p5_3/p5_car.jpg"></div>
        <div id="vid-control"><video muted autoplay loop height="490" src="assets/images/p5_3/p5_car.mp4"></div>
        <div><img height="460" src="assets/images/p5_3/p5_star_war_1.jpg"></div>
        <div><img height="470" src="assets/images/p5_3/p5_star_war_2.jpg"></div>
        <div><img height="450" src="assets/images/p5_3/p5_disney_4.jpg"></div>
        <div><img height="470" src="assets/images/p5_3/p5_disney_5.jpg"></div>
        <div><img height="480" src="assets/images/p5_3/p5_disney_6.jpg"></div>
        <div><img height="490" src="assets/images/p5_3/p5_disney_7.jpg"></div>

        <!-- board -->
        <div><img height="470" src="assets/images/p5_3/p5_broad_1.jpg"></div>
        <div><img height="470" src="assets/images/p5_3/p5_broad_2.jpg"></div>
        <div><img height="480" src="assets/images/p5_3/p5_broad_3.jpg"></div>
        <div><img height="490" src="assets/images/p5_3/p5_broad_4.jpg"></div>
        <div><img height="460" src="assets/images/p5_3/p5_little_tokyo.jpg"></div>

        <!-- venice -->
        <div><img height="460" src="assets/images/p5_3/p5_venice_1.jpg"></div>
        <div><img height="480" src="assets/images/p5_3/p5_venice_2.jpg"></div>
        <div><img height="450" src="assets/images/p5_3/p5_venice_3.jpg"></div>
        <div id="vid-control"><video muted autoplay loop height="490" src="assets/images/p5_3/p5_venice_vid.mp4"></div>

        <!-- getty -->
        <div><img height="480" src="assets/images/p5_3/p5_getty_1.jpg"></div>
        <div><img height="480" src="assets/images/p5_3/p5_getty_2.jpg"></div>
        <div><img height="460" src="assets/images/p5_3/p5_getty_3.jpg"></div>

        <!-- universal studio -->
        <div><img height="480" src="assets/images/p5_3/p5_uni_1.jpg"></div>
        <div><img height="480" src="assets/images/p5_3/p5_uni_2.jpg"></div>
        <div id="vid-control"><video muted autoplay loop height="490" src="assets/images/p5_3/p5_uni_vid.mp4"></div>


    </div>
</div>
