<div class="gallery">
    <div class="gallery_scroller">
        <div id="vid-control">
            <video class="p5_us_trip" preload="none" poster="assets/images/p5/p5_airport.jpg" muted autoplay loop height="480">
                <source data-src="assets/images/p5/p5_airport.mp4" type="video/mp4">
            </video>
        </div>
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5/p5_zoo_1.jpg"></div>
        <div id="vid-control">
            <video class="p5_us_trip" preload="none" poster="assets/images/p5/p5_zoo_vid.jpg" muted autoplay loop height="400">
                <source data-src="assets/images/p5/p5_zoo_vid.mp4" type="video/mp4">
            </video>
        </div>
        <div><img class="p5_us_trip" loading="lazy" height="430" src="assets/images/p5/p5_moma.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5/p5_witney.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="480" src="assets/images/p5/p5_little_island.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="460" src="assets/images/p5/p5_bluenote.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="460" src="assets/images/p5/p5_dumbo.jpg"></div>
        <div id="vid-control">
            <video class="p5_us_trip" preload="none" poster="assets/images/p5/p5_vintage.jpg" muted autoplay loop height="490">
                <source data-src="assets/images/p5/p5_vintage.mp4" type="video/mp4">
            </video>
        </div>
        <div><img class="p5_us_trip" loading="lazy" height="480" src="assets/images/p5/p5_met.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="480" src="assets/images/p5/p5_met_2.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5/p5_met_3.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5/p5_met_4.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="490" src="assets/images/p5/p5_church.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5/p5_nba.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="460" src="assets/images/p5/p5_natural_0.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="480" src="assets/images/p5/p5_natural.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="480" src="assets/images/p5/p5_solomon.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="460" src="assets/images/p5/p5_solomon_2.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="470" src="assets/images/p5/p5_solomon_3.jpg"></div>
        <div><img class="p5_us_trip" loading="lazy" height="460" src="assets/images/p5/p5_vaccine.jpg"></div>
        <div id="vid-control">
            <video class="p5_us_trip" preload="none" poster="assets/images/p5/p5_time_square.jpg" muted autoplay loop height="490">
                <source data-src="assets/images/p5/p5_time_square.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>
