<!-- US trip (NY, PDX, Seattle) -->
<section id="p5_us_trip" class="main special">
	<div class="container">
		<span class="image fit primary"><img loading="lazy" src="assets/images/pic01.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Chapter 5<br>疫苗搶奪戰：松鼠小姐與山姆大叔</h2>
      		</header>
			<div class="main-article">
				<p>
					尋親之路不可怠慢，尤其現在是病毒肆虐的高峰期，只打一劑的 AZ 仔定要步步為營。松鼠小姐搭了好棒棒的新加坡航空，食物好吃、座位舒適且給的備品也是高級又漂亮。當初擔心入關會受刁難，結果也是光速通關，這就是上天眷顧的好運氣嗎？<br>
					<br>
					松鼠小姐跑跑跑、熊先生等等等，他們終於在紐約機場再度見面啦！即使行李箱的拉鍊爆開、長途跋涉十分辛苦、身上裝著筆電的背包萬分沉重，松鼠小姐還是開心的不得了！（熊先生當然也是）於是兩人趕緊從機場一路奔波回飯店，用美味的燒肉無雙結束了第一天。<br>
					<br>
					兩人都是第一次到紐約，鄉巴佬逛大蘋果，自然要把主要的知名景點都逛過一遍。最主要的時間都是在逛博物館與美術館，從 MOMA、Whitney、大都會博物館、自然史博物館到古根漢 （New 爛到沒辦法與其他的比肩…），每個博物館都有各自的特色，松鼠小姐最喜歡的肯定是大都會，以前只有在學校內讀過的希臘人物，頓時在眼前鮮活了起來，熊先生難以忘懷松鼠小姐瞪大了雙眼，鉅細靡遺地讀過每一尊雕刻品的介紹，很專心地讓心思回到古希臘時期。久遠的經典放到現代還是經典，但當代的藝術放到古代就難說了，兩人對於當代藝術的品味實在無法恭維，少部分是不錯的，但大多看完也無法得到共鳴，更多的是覺得莫名其妙…<br>
					<br>
					兩人也一起逛了小巧的紐約動物園、去了 Chelsea 市集、布魯克林古著淘寶、厲害的 The Edge 紐約夜景、巴克萊中心 NBA 初體驗、半夜打疫苗之路過時代廣場（可惜因為疫苗關係沒辦法看歌劇），這趟的紐約行程可說是相當充實，該去的都去了，該吃的也都吃了，是時候該回波村啦！Let’s go blazer！<br>
				</p>
				<br>
				{% include p5_gallery.html %}
				<br>
				<p>
					回到了兩人舒適的小窩，熊先生開始帶松鼠小姐探索波村小小的生活圈（因為沒有車所以真的是小小的…）民以食為天，當然先從各種食物與餐車開始，松鼠小姐不滿意美國的咖啡，熊先生只好上網求救。接著帶松鼠小姐去見見波村這邊的朋友們，Takibi 的晚餐聚會、Alexa 家的感恩節聚會、也去了幾次岩館，慢慢開拓波村的人際圈。這段時間松鼠小姐可沒閒著，雖然遠渡重洋，但還是得繼續翻譯賺錢錢，常常熊先生先睡，松鼠小姐卻還在挑燈工作的情形。同時松鼠小姐也打了實質的第三劑，這才是真的超前部屬，為之後的加州行做好準備！<br>
				</p>
				<br>
				{% include p5_gallery_2.html %}
				<br>
				<p>
					加州行只有短短的五天，但也是行程滿滿的東奔西跑，在啟程前幾天熊先生終於搶到了迪士尼 Magic Kingdom 的入場名額，真的是有夠難搶，大家都愛迪士尼！不過辛苦總算沒白費，因為人群控管的關係，當天人潮不算太多，大部分的遊樂設施都不需要排太久，玩起來的節奏相當舒服。巴斯光年遊戲松鼠小姐血虐熊先生、松鼠小姐唯一開車載熊先生的時刻、戴了黑魔女與尤達大師頭飾逛遊樂園、經典的遊行也是十分精采。最後在星際大戰園區排了好久好久的隊伍，機器不停故障，松鼠小姐氣到上網留負評，但等待的確值得，星際大戰的遊樂設施真的超級酷，整個園區設計也是超有氣氛，讓熊先生很想去把電影補齊啊！最後則是用絢麗的城堡煙火秀結束了加州行的第一天！<br>
					<br>
					接著兩人又跑去了博物館，The Broad 穩穩坐了兩人博物館排名第一（雖然大都會也很好，但這個免費！）尤其最後的樂團互動式影片，兩人花了好多時間坐在那把整個表演看完。松鼠小姐也開始慢慢拓展在加州的社交圈，跟 Alex 一起的好吃的台灣料理、去 Maja 家的聊天與借助（雖然差點冷死在加州）除此之外，兩人還去了威尼斯海灘（跟海鷗瞪眼）、Getty 博物館（又是免費的富豪美術館）與加州行的另一個主要目標—環球影城。這趟更多了涂與他女友一起遊玩，雖然環球不像迪士尼那麼大，但人潮少了許多，所以玩起來的節奏一樣很棒。哈利波特、變形金剛、侏儸紀世界與影城導覽，都是很棒的體驗！不過說到最後的聲光秀，霍格華茲城堡的表演就是海甩迪士尼好幾條街了（據熊先生主觀意見）最後大夥一起去吃了韓式料理結束加州行！<br>
				</p>
				<br>
				{% include p5_gallery_3.html %}
				<br>
				<p>
					今年波村的冬天特別陰沉，冬雨綿綿加上日照短暫，讓松鼠小姐整天發愁，就連盼著白茫茫的雪花的夢想也被老天打臉（只下雨不下雪阿）…於是兩人只好靠自己創造機會！下一個旅途目標—西雅圖過聖誕！經過了加州自駕的洗禮，現在熊先生對於開車自信許多，松鼠小姐也會在副駕給予導航的幫助。只是這趟需要在雪地上駕駛，熊先生在出發前還是十分擔心，看了許多雪地自駕的影片，後來因為一點意外，兩人租到一台豪華的全驅賓士 GLC，讓這趟旅程舒適了許多（果然好車很重要啊！）<br>
					<br>
					從波村開到了西雅圖花了三小時的車程，第一天抵達後決定輕鬆點，逛了旅館附近的玻璃美術館與太空針塔。玻璃美術館雖小，但展品都很特別，畢竟以玻璃為題材的藝術品偏少，館藏了很多色彩繽紛且奇形怪狀的玻璃作品，還有現場燒製玻璃壺的活動可以看，逛起來算是滿愜意。而太空針塔是西雅圖的標誌建築，從 1962 年就開始存在了，歷史悠久。不過裡面就是很簡單的觀景塔，跟之前在紐約看過的相比遜色不少，就當作是踩踩點解成就囉。<br>
					<br>
					隔天一早就動身前往 Snoqualmie，是一個離西雅圖約一小時車程的雪場，松鼠小姐準備體驗第一次的滑雪啦！第一天抵達租完裝備後，便在新手友善的 West 區域（雪場分成好幾大區）開始練習，有一個專給新手練習的神奇魔毯區域，但松鼠小姐一開始練習的不太順利，常常倒到地上就站不起來，即使是小號的雪板也有一定的重量，松鼠小姐對自己很生氣！還打自己的腳…結果後來發現當初雪褲選得不好，雪褲太緊的話似乎會很難站起來，而且租到的雪板板面也沒有上好蠟，滑起來都卡卡的，於是第一天的練習就在憤怒與沮喪中結束了。熊先生還是不停地給松鼠小姐打氣，明天一定會練習的更好的！果不其然，隔天松鼠小姐慢慢抓到感覺，可以從新手雪道慢慢地自己滑下來了！耶嘿！從新手雪道直接滑比在練習區域表現的好太多了，看來下次換件新雪褲後，應該可以滑的更棒！<br>
					<br>
					兩人住在雪場旁的住宿，每天起床打開窗戶就是白茫茫的大雪，看起來又純淨又舒服，唯一不那麼舒服的點大概是開車前要除好久的雪…好險熊先生有預先買了除雪用具，但每天光除雪就熱完身了，住在雪國的人們真正辛苦啊…這次雪場除了滑雪外還有一個亮點，松鼠小姐完成了夢想清單中的一項—利用雪跟果醬來吃刨冰（小丸子流），Yummy！<br>
					<br>
					聖誕節後兩人又回到西雅圖市區，街上都是殘留的融雪，松鼠小姐穿著不防滑的鞋子在山城漫步，可謂是步步驚心，一個不小心就要滑倒。兩人後來逛了派克市場（美心真好吃）、搭乘了郵輪與摩天輪（景色雖好但氣溫好低）、逛了流行文化博物館（外觀很酷但內容滿雜亂），至此西雅圖之旅即將邁入尾聲，而離別的時候又悄悄地接近了…<br>
				</p>
				<br>
				{% include p5_gallery_4.html %}
				<br>
				<p>
					西元二零二二年一月七號，松鼠小姐即將離開波村，雖然依依不捨但還是得離開，松鼠小姐可不想被美國海關加到黑名單中（十年內不能進入美國），於是前一天吃了高級牛排餞別，當天一早則是趕緊去 outlet 添購一個新行李箱，整理行李搭機回台灣。到了機場後，兩人相擁不捨，熊先生親著松鼠小姐的臉頰，拭去松鼠小姐眼角旁的眼淚。<br>
					<br>
					「我們會很快再見面的，我愛你。」<br>
					<br>
					『我也愛你。』
				</p>
			</div>
		</div>
	</div>
</section>
