<section id="p6_wanna_be_blessed" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic03.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Chapter 6<br>願意接受祝福嗎 (y/n)？</h2>
			</header>
			<div class="main-article">
				<p>
					松鼠小姐又回到了熟悉的台灣，雖然只在波村待了三個月，但波村的環境已經深深烙印在松鼠小姐的身體裡。懷念那略為乾冷的氣候、恆溫且溫馨的小房間、明媚的陽光從大大的落地窗灑進、乾淨且整齊的住宅環境、一起去超市採買的點滴、在波村當廚師長的過程，各種點滴都讓松鼠小姐想要飛奔回去，而不是被關在高雄又小又窄的防疫旅館裡。
					<br><br>
					二零二二年，兩人計畫了一個重大決定，希望能夠再也不分開，<br>
					<br>
					「不管我到哪裡，妳都一輩子願意陪著我嗎？」<br>
				</p>
			</div>
		</div>
		<!-- <a href="#footer" class="goto-next scrolly">Next</a> -->
	</div>
</section>